body {
  background-image: linear-gradient(to right, #002147, 
#1E90FF);
  font-family: sans-serif, helvetica; 
  text-align: justify;
  margin-right: 20%;
  margin-left: 20%;
  color: #191970;
}
header {
    text-align: center;
  background-image: url(https://www.mupload.nl/img/62etdqza1bzq.jpg);
  height: 150px;
}

aside {
  float: right;
  background-image: url(https://www.mupload.nl/img/ueffisrxj.png);
  background-position: bottom;
  width: 40%;
  padding: 20px;
  margin-left: 30px;
  color: #87CEEB;
  font-family: fantasy;
  font-size: 200%;
}
table {
  float: right;
  margin-left: 60px;
}
img {
  float: right;
  border-radius: 10px;
}
nav {
  font-weight: bolder;
}
a {
  font-size: 200%;
  font-weight: bolder;
  text-decoration: blink;
}

section {
  background-color: #FFF5EE;
  padding: 35px;
  background-image: linear-gradient(to right, #F5FFFA, 
#1E90FF);
  font-size: 20px;
}

button {
  float: right;
}
 
h1 {
  padding: 30px;
  font-size: 200%;
}
h2 {
 background: radial-gradient(circle at 65% 15%, aqua, darkblue);
  color: #FFFAFA;
}
table {
  padding: 10px;
  background: linear-gradient(to bottom, #000080, #87CEFA);
  border-radius: 20px;
  font-size: 120%;
  color: #FFFAFA;
}
ul {
  text-align: left;
}
footer {
  font-family: fantasy;
  font-size: 300%;
  text-align: right;
  height: 230px;
  background-image: url(https://www.mupload.nl/img/o7jsvv2.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
h3 {
   text-align: left;
}
