* {
  text-align: justify;
  font-family: Courier, monospace, sans-serif, helvetica; 
  color: #462066;
  background-image: linear-gradient(to right, #FFB85F, #1ed0d0);
}
#grid-floats > li,ul#grid-flex > li {
  float: left;
  width: 20%;
  height: 550px;
  padding: 10px;
  border: 1px solid;
  border-top-right-radius: 10%;
  border-right-style: outset;
  border-right-width: 8px;
  margin: 1%;
  overflow: auto;
  background: #00AAA0;
  box-shadow: 0 0 30px #462066;
}
img {
  width: 70%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid #00008B;
}
img:hover {
  width: 100%;
}
#grid-floats :first-child {
  width: 44%;
}
ul {
  list-style: none;
}
 
#grid-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
#grid-flex :first-child {
  width: 44%;
}
h1 {
  text-align: center;
  font-size: 6em;
  text-shadow: 4px 3px 2px black;
  
}
h2 {
  text-align: center;
  clear: left;
  font-size: 3em;
  text-shadow: 3px 2px 2px black;
  background: #FFB85F;
  margin-left: 30%;
  margin-right: 30%;
  border-top-right-radius: 40%;
  border-right-style: inset;
  border-right-width: 8px;
  box-shadow: 0 0 30px #462066;
}
h3 {
  font-size: 140%;
  color: #FCF4D9;
  text-shadow: 1px 1px 1px blue;
  background: #462066;
  box-shadow: 0 0 30px #462066;
}

p {
  background: #00AAA0;
}


@media only screen 
  and (max-width: 500px) {
    * {
      margin: 0;
    }
    #grid-floats > li {
      width: 48%;
      height: 25px;
    }
    #grid-floats :first-child {
      width: 98%;
    }
    ul#grid-flex > li {
      width: 48%;
      height: 25px;
    }
    #grid-flex :first-child {
      width: 98%;
    }
}

@media only screen 
  and (min-width: 501px)
  and (max-width: 900px) {
    * {
      margin: 0;
    }
    #grid-floats > li {
      width: 32%;
      height: 45;
    }
    #grid-floats :first-child {
      width: 48%;
    }
    ul#grid-flex > li {
      width: 32%;
      height: auto;
    }
    #grid-flex :first-child {
      width: 48%;
    }
}
